/*
 With # 
buttons: #ff9f1c,
#ffbf69,
text color- #ffffff,
#cbf3f0,
#2ec4b6
navbar - #264653
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

======
PINK - rgb(252, 141, 161)2
BLUE - rgb(89,114,165)
ROSE - rgb(255, 241, 238)
*/

:root {
  --primary-color: rgb(255, 241, 238);
  --secondary-color: rgb(89, 114, 165);
  --darkerPink: rgb(252, 141, 161);
  --page-header-item-width: 200px;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --btn-text-color: rgb(19, 17, 17);
  --sun-color-one: #edc655;
  --sun-color-two: #fcffad;
  --sun-color-three: #f76414;
  --visited-bg-color: #82958a;
  --visited-text-color: rgb(24, 22, 22);
  --active-bg-color: #87c6c1;
  --lighter-black: grey;
  --header-font-family: "Poppins", sans-serif;
  --primary-font-family: "Lora", serif;
}

/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  font-family: var(--header-font-family);
  padding: 20px;
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
}

.logo {
  width: var(--page-header-item-width);
}

.page-header__item {
  flex: 0 1 var(--page-header-item-width);
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-right: 20px;
}

.navigation-list__item:visited {
  background-color: var(--visited-bg-color);
  color: var(--visited-text-color);
}

.navigation-list__item:hover {
  background-color: var(--darkerPink);
}

.navigation-list__item:active {
  background-color: var(--active-bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}
.title {
  text-align: center;
}

.home {
  margin: auto 0;
}

.profile {
  display: flex;
}

.profile-img {
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.grid__item {
  background-color: var(--primary-color);
  padding: 10%;
}

/* button styles */
.btn {
  padding: 1%;
  background-color: var(--darkerPink);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: var(--btn-text-color);
  cursor: pointer;
  margin: 2%;
}

.btn a {
  color: var(--btn-text-color);
}

.btn:hover {
  opacity: 0.7;
}

/* table styles */

table,
th,
tr,
td {
  border: 1px solid var(--lighter-black);
  border-collapse: collapse;
  padding: 5px;
}

.contact-link {
  display: block;
  margin-bottom: 1%;
}

/* footer */

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.page-footer__item:last-child {
  padding-top: 20px;
}

/* About page */

.about {
  margin: 10%;
}
.btn {
  display: inline-block;
  padding: 10px;
  background-color: var(--darkerPink);
  color: var(--btn-text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s;
}

.download:hover {
  opacity: 0.8;
}
.about__item {
  margin-bottom: 5%;
}

.sun {
  animation: color-change 4s infinite alternate linear;
}

.cloud-front {
  animation: cloud-move 30s infinite linear alternate;
}

.cloud-back {
  animation: cloud-move-reverse 34s infinite linear alternate;
}

/* Contact Page */

.contact {
  margin: 10%;
}

.contact__item {
  margin: 5%;
}

.standard-label {
  margin-right: 20px;
}

/* media queries */

@media screen and (max-width: 480px) {
  .page-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
  }
  .page-header__item {
    flex: 0 1 10px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: center;
  }
  .navigation-list li {
    display: block;
    margin: 20px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.75em;
  }

  .grid__item > h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .logo {
    width: var(--page-header-item-width);
  }
  .navigation-list li {
    margin: 3px;
    font-size: 14px;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

/* animations */
@keyframes color-change {
  0% {
    fill: var(--sun-color-one);
  }
  50% {
    fill: var(--sun-color-two);
  }
  100% {
    fill: var(--sun-color-three);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
