/*
 With # 
buttons: #ff9f1c,
#ffbf69,
text color- #ffffff,
#cbf3f0,
#2ec4b6
navbar - #264653
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

======
PINK - rgb(252, 141, 161)2
BLUE - rgb(89,114,165)
ROSE - rgb(255, 241, 238)
*/

/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Protest+Revolution&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primary-color: rgb(255, 241, 238);
  --secondary-color: rgb(89, 114, 165);
  --darkerPink: rgb(252, 141, 161);
  --page-header-item-width: 200px;
  --base-font-size: 20px;
  --base-font-weight: 400;
  --btn-text-color: rgb(19, 17, 17);
  --sun-color-one: #edc655;
  --sun-color-two: #fcffad;
  --sun-color-three: #f76414;
  --visited-bg-color: #82958a;
  --visited-text-color: rgb(24, 22, 22);
  --active-bg-color: #87c6c1;
  --lighter-black: rgb(213, 211, 211);
  --header-font-family: "Quattrocento Sans", sans-serif;
  --primary-font-family: "Source Sans 3", sans-serif;
}

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  font-family: var(--header-font-family);
  padding: 20px;
  display: flex;
  width: 100%;
  font-weight: 600;
  background-color: var(--primary-color);
  font-style: normal;
}

.logo {
  width: var(--page-header-item-width);
}

.page-header__item {
  flex: 0 1 var(--page-header-item-width);
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-right: 20px;
}

.navigation-list__item {
  padding: 3px;
}

.navigation-list__item:visited {
  background-color: var(--visited-bg-color);
  color: var(--visited-text-color);
}

.navigation-list__item:hover {
  background-color: var(--darkerPink);
  border-radius: 5px;
  color: white;
}

.navigation-list__item:active {
  background-color: var(--active-bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}
.title {
  text-align: center;
}

.home {
  margin: auto 0;
}

.profile {
  display: flex;
}

.profile-img {
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}

.grid__item {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  /* padding: 0; */
  /* max-width: 80%; */
}

.projects {
  margin: auto 10%;
}

.project {
  height: 100%;
  box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3);
}

.project-img-container {
  height: 50%;
  padding: 0;
  margin: 0;
}

.project-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.project-details {
  padding: 5%;
  height: 50%;
  overflow-y: auto;
}

/* button styles */
.btn {
  padding: 1%;
  background-color: var(--darkerPink);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: var(--btn-text-color);
  cursor: pointer;
  margin: 2%;
}

.btn a {
  color: var(--btn-text-color);
}

.btn:hover {
  opacity: 0.7;
}

/* table styles */
table {
  margin-right: 20px;
}

table,
th,
tr,
td {
  border: 1px solid var(--lighter-black);
  border-collapse: collapse;
  padding: 5px;
}

.contact-link {
  display: block;
  margin-bottom: 1%;
}

.contact__item p {
  font-size: 600;
}

/* footer */

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.page-footer__item:last-child {
  padding-top: 20px;
}

/* About page */

.about {
  margin: 2% 10%;
}
.btn {
  display: inline-block;
  padding: 10px;
  background-color: var(--darkerPink);
  color: var(--btn-text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s;
}
.download {
  margin-left: 0;
}
.download:hover {
  opacity: 0.8;
}

.about__item {
  margin-bottom: 2%;
}

.skills {
  display: flex;
  justify-content: space-between;
}
.star {
  color: var(--secondary-color);
}

/* Contact Page */

.contact {
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contact-title > h1 {
  font-weight: 500;
  text-transform: lowercase;
  font-size: 2em;
}

.contact-title > h1::first-letter {
  text-transform: uppercase;
}

.contact-means {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact-icon-container {
  background-color: var(--darkerPink);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon-container > img {
  color: white;
}

.contact__item > a {
  border-bottom: 1px solid var(--secondary-color);
  transition: transform 1s ease-out;
  color: var(--secondary-color);
  cursor: pointer;
}

.contact__item > a:hover {
  transform: translate(0, -5px);
}

/* media queries */

@media screen and (max-width: 480px) {
  .page-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
  }
  .page-header__item {
    flex: 0 1 10px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: center;
  }
  .navigation-list li {
    display: block;
    margin: 20px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.75em;
  }

  .grid__item > h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .logo {
    width: var(--page-header-item-width);
  }
  .navigation-list li {
    margin: 3px;
    font-size: 14px;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .project-img-container {
    height: auto;
    padding: 0;
    margin: 0;
  }

  .project-details {
    height: 80%;
    padding: 5%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .project-img-container {
    height: 20%;
    padding: 0;
    margin: 0;
  }

  .project-details {
    height: 80%;
    padding: 5%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .project-img-container {
    height: 30%;
    padding: 0;
    margin: 0;
  }

  .project-details {
    height: 70%;
    padding: 5%;
    overflow-y: auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .project-img-container {
    height: 40%;
    padding: 0;
    margin: 0;
  }

  .project-details {
    height: 60%;
    padding: 5%;
    overflow-y: auto;
  }
}
